@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

$white: #ffffff;

@font-face {
  font-family: "FlutterwaveRegular";
  src: local("FlutterwaveRegular"),
    url("./fonts/FLW-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "FlutterwaveBold";
  src: local("FlutterwaveBold"), url("./fonts/FLW-Bold.ttf") format("truetype");
  font-weight: normal;
}

h3 {
  font-family: "Inter";
}

.wrap {
  height: 100%;
}

.notice-warning {
  display: none;
}

.woo_flw_header {
  padding: 2em;
  display: flex;
  flex-direction: row;
}

.woo_flw_heading {
  font-family: "FlutterwaveRegular";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

.woo_flutterwave_barter_logo {
  width: 20px;
  height: 20.4px;
  padding-left: 20px;
}

.flw_bold {
  font-family: "FlutterwaveBold";
}

.flw_regular {
  font-family: "FlutterwaveRegular";
}

.flw-woo-settings-page {
  display: inline-flex;
  flex-direction: row;
  font-family: "FlutterwaveRegular";
}

.flw_container {
  padding: 2em;
  background-color: $white;
  display: flex;
  flex-direction: column;
}

.flw-row {
  display: inline-flex;
  flex-direction: row;
  column-gap: 26em;
  margin-bottom: 1em;
  align-content: stretch;
}

input {
  border-color: #e0e0e0;
  border-radius: 4px;
}

.settingItem {
  display: flex;
  flex-direction: column;
}

.lb {
  margin-bottom: 0.5em;
  font-size: 16px;
}

.wb-lb {
  // margin-bottom: 0.3em;
  font-size: 16px;
}

.cb {
  display: flex;
  align-items: center;
}

.hookInstruct {
  font-size: 12px;
  bottom: 0;
}
.hookURL {
  background-color: #feeced;
  color: #fe352f;
  padding-left: 10px;
  padding-right: 19px;
  padding-top: 6px;
  padding-top: 7px;
  border-radius: 4px;
  margin-top: auto;
}

.refLink {
  color: #576ae6;
}

.cta {
  margin-top: 6em;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 16px;
}
